 <header>
        <div class="bg-dark-info alert alert-info text-secondary text-center">
            <div class="container">
                <h1 class="display-4">Gule Gule eski cilt, Merhaba yeni sen!</h1>
                
            </div>
        </div>
    </header>