  <div class="card mt-3">
      <div class="card-header">
          <h5>Arama</h5>
      </div>
      <div class="card-body">
            <form action="/search">
                <div class="form-group">
                    <input name="q" type="text" class="form-control" placeholder="Arama">
                </div>
                <button type="submit" class="btn btn-info btn-sm btn-block">Ara</button>
            </form>
      </div>
  </div>
  
  
